.default-text,
.tag {
  user-select: none;
  -webkit-user-select: none; /* stylelint-disable-line property-no-vendor-prefix */
}

.sketchresponse {
  text-align: center;
}

.feedback-container {
    border-radius : 10px;
    padding : 10px;
    color: black;
}

.correct {
    background-color : hsl(120deg 66% 47% / 28.4%);
}

.not-correct {
    background-color : hsl(0deg 66% 47% / 28.4%);
}

.partial-correct {
    background-color : hsl(44deg 99% 46% / 28.4%);
}

/* CSS reset bound to our container */
.si-container,
.si-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.si-container {
  margin: 20px;
  position: relative;
  background-color: #fff;
  border: 1px solid lightgray;
  display: inline-flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.3;
  outline: none;
}

.si-canvas {
  clip-path: inset(0); /* Modern alternative to polygon for full clip */
}

.si-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.si-attribution {
  position: absolute;
  bottom: -1.3em;
  right: 0;
  cursor: default;
  user-select: none;
  opacity: 0.4;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    opacity: 1;
  }
}

.si-help-legal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg 0% 98% / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;

  &[data-visible="false"] {
    display: none !important;
  }

  .si-dialog {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 14px 2px rgb(0 0 0 / 20%);
    padding: 20px;

    header {
      border-bottom: 1px solid #eee;
      padding-bottom: 1em;
    }

    p {
      margin-top: 1em;
    }

    a {
      color: #000;
      text-decoration: underline;
    }

    .si-copyright {
      margin-top: 0;
      color: #888;
      font-size: 0.95em;
    }
  }
}

/* ===== Toolbar Styles ===== */

.si-toolbar {
  width: 100%;
  display: flex;
  background-color: #eee;
  border-top: 1px solid hsl(0deg 0% 100% / 70%);
  border-bottom: 1px solid lightgray;
  user-select: none;

  hr {
    border: none;
    width: 2px;
    margin: 4px 7px;
    background-color: hsl(0deg 0% 0% / 12.5%);

    &:last-of-type {
      margin-left: auto;
    }
  }

  button {
    opacity: 0.5;
    background: none;
    border: none;
    outline: none;
    padding: 3px;
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: background 0.2s, opacity 0.2s;

    &.split-button-main {
      padding-bottom: 0;
    }

    &.split-button-aux {
      padding-top: 0;
    }

    &:hover {
      opacity: 1;
      background-color: hsl(0deg 0% 0% / 5%);
    }

    &:active {
      background-color: hsl(0deg 0% 0% / 10%);
    }
  }

  menu {
    position: absolute;
    top: calc(100% + 4px);
    z-index: 9999;
    display: block;
    background-color: #eee;
    border: 1px solid gray;

    button:hover {
      opacity: 1;
      background-color: hsl(0deg 0% 0% / 5%);
    }
  }

  .si-dropdown {
    border-color:darkgray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .item {
    min-width: 45px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 4px solid transparent;

    .si-dropdown-button {
      width: 78px;
    }

    &:hover {
      border-bottom-color: hsl(0deg 0% 0% / 20%);
    }

    &[data-is-active="true"] {
      background-color: hsl(0deg 0% 0% / 10%);

      button:not(.si-dropdown-button) {
        opacity: 1;
      }
    }

    &[data-is-open="false"] menu {
      display: none;
    }
  }

  .icon {
    display: block;
    margin: 0 auto;
    padding: 2px;
    height: 35px;
  }

  .label {
    user-select: none;
    padding: 0 5px;
    height: 32px;
    cursor: default;
  }
}

.si-toolbar.disable {
  display: none;
}